extends layout

block content
  .content__errorPage
    h1= `${status || 'Uh Oh!'}`
    .page__content=`${errMessage || 'There was an error'}`
    a(href="/" class="button button--razmatazz") Take me home
