doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Hello World
    link(rel='stylesheet', href="/dist/styles.min.css")
  body
    .content
      block content
    block scripts
      script(src="/dist/scripts.min.js")
