doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Hello World
    link(rel='stylesheet', href="/dist/styles.min.css")
    meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=yes")
  body(style=`background-image:url('${backgroundImageUrl}')`)
    .content
      block content
    .footer
      .footer__inner
        .footer__me-credit Built with &hearts; by&nbsp;
          a(rel='noopener', target="_blank", href="//www.andrewhaine.co.uk", title="Visit my website" class="footer__homesite") Andrew Haine
          a(class="footer__icon footer__icon--gh replace" href="//www.github.com/AndrewHaine", rel="noopener" title="View this project on Github") Github Repo
          a(class="footer__icon footer__icon--twitter replace" href="//www.twitter.com/Andrew_Haine" rel="noopener" title="Follow me on Twitter") Twitter
        .footer__photo-credit Photo by 
          a(href=backgroundImageUserUrl, target="_blank")= backgroundImageUserName
          span &nbsp;/&nbsp;
          a(href="http://unsplash.com?utm_source=hain.ee&utm_medium=referral&utm_campaign=api-credit", target="_blank") Unsplash
    block scripts
      script(src="/dist/scripts.min.js")
