/* Component: Forms                                  */
/*----------------------------------------------------------------------------------*/

.field
  &.text
    input
      padding: 1rem 2rem .8rem 1rem
      font-size: 110%
      border: 0
      border-radius: 4px
      font-family: $font--body
      color: $color--razzmatazz

      &::placeholder
        color: $color--grey
        font-family: $font--body
        font-weight: 200

button
  font-weight: 500

form.url-form
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  margin-top: 3rem
  width: 100%

  .field.text
    position: relative
    width: 100%

    input
      width: 100%
      border-radius: 4px
      box-shadow: 0 1px 4px rgba($color--black, .3)
      transition: all .2s ease-in-out

      &:focus
        outline: none
        background: lighten($color--yellow-orange, 30)

        &::placeholder
          color: $color--alt-black

  .form__actions
    margin-top: 1rem
    text-align: center

  label
    display: none

@include respond(600px)
  form.url-form
    flex-direction: row
    align-items: stretch

    .field.text
      width: auto
      flex-grow: 6

      input
        width: 100%

    .form__actions
      display: flex
      justify-content: flex-end
      margin-top: 0
      flex-grow: 1

      button
        margin-left: 1rem

/* ----------- Form Container -----------*/
#form-container
  position: relative
  width: 83%
  max-width: 600px

/* ----------- Form Errors -----------*/
.form-error
  position: absolute
  top: 260%
  display: block
  padding: .5rem 1rem .4rem
  border-radius: 3px
  font-size: 90%
  opacity: 0
  background: rgba($color--red, .4)
  visibility: hidden
  transform: translateY(-20%)
  transition: none

  &[data-erroring='true']
    opacity: 1
    transform: none
    visibility: visible
    transition: all .3s ease-in-out

@include respond(600px)
  .form-error
    top: 140%
