/* Component: Page Preview                                  */
/*----------------------------------------------------------------------------------*/

/* ----------- Main body -----------*/

.shorten-preview
  position: absolute
  top: 120%
  z-index: 100
  display: block
  width: 100%
  padding: 1rem
  border-radius: 5px
  transform-origin: 50% 0
  background: rgba($color__white, .8)

  &::before
    position: absolute
    top: -20px
    left: calc(50% - 10px)
    width: 20px
    height: 20px
    content: ''
    background-image: url('../images/ui/white-triangle.svg')
    background-size: 100% auto
    background-position: auto 100%

@include respond(600px)
  .shorten-preview
    top: 140%
    padding: 1.7rem

    &::before
      left: 8%

/* ----------- Preview Content -----------*/
.shorten-preview__content
  display: flex
  justify-content: flex-start


/* ----------- Image -----------*/
.shorten-preview__image
  position: relative
  display: none
  flex-shrink: 0
  width: 65px
  height: 65px
  border-radius: 4px
  background: $color--grey
  background-size: contain
  background-position: 50%
  background-repeat: no-repeat
  overflow: hidden

  &::before
    position: absolute
    display: block
    top: 0
    left: 0
    width: 50%
    height: 100%
    content: ''
    opacity: .5
    background-image: linear-gradient(90deg, $color__grey 0%, darken($color__grey, 5) 50%, $color__grey 100%)
    animation: leftToRight 1.4s ease-in-out infinite

@include respond(375px)
  .shorten-preview__image
    display: block

@include respond(600px)
  .shorten-preview__image
    width: 80px
    height: 80px

/* ----------- Animation -----------*/
@keyframes leftToRight
  from
    left: -100%

  to
    left: 100%


/* ----------- Text -----------*/

.shorten-preview__text
  display: flex
  flex-direction: column
  align-items: flex-start
  width: 100%

@include respond(375px)
  .shorten-preview__text
    padding-left: 1rem

@include respond(600px)
  .shorten-preview__text
    padding-left: 1.4rem

.shorten-preview__title,
.shorten-preview__link
  position: relative
  overflow: hidden
  display: block
  padding: .4em
  background: $color__grey
  min-height: 1em

  &::before
    position: absolute
    display: block
    top: 0
    left: 0
    width: 50%
    height: 100%
    content: ''
    background-image: linear-gradient(90deg, $color__grey 0%, darken($color__grey, 5) 50%, $color__grey 100%)
    animation: leftToRight 1.4s ease-in-out infinite
    animation-delay: .4s

.shorten-preview__title
  overflow: hidden
  min-width: 70%
  margin-bottom: .8em
  line-height: 1.35
  font-weight: bold
  color: $color--alt-black

@include respond(650px)
  .shorten-preview__title
    font-size: 1.2rem

.shorten-preview__link
  min-width: 55%
  font-weight: 100
  color: $color--dark-grey
  text-decoration: underline
  font-size: .9em
  cursor: pointer

  &:hover
    text-decoration: none

/* ----------- With data -----------*/
.shorten-preview__content--active
  .shorten-preview__title,
  .shorten-preview__link,
  .shorten-preview__image
    padding: 0 !important
    background-color: transparent

    &::before
      display: none

  .shorten-preview__title
    margin-bottom: .4rem

/* ----------- Animation in -----------*/
@keyframes fadeAndFold
  from
    opacity: 0
    transform: rotateX(45deg) translateY(-20px)

  to
    opacity: 1
    transform: none

.preview-box-animation-enter-active
  animation: fadeAndFold .5s ease

.preview-box-animation-leave-active
  animation: fadeAndFold .3s ease-out reverse
