/* Variables                                  */
/*----------------------------------------------------------------------------------*/

/* ----------- Colours -----------*/
$color--razzmatazz: #d81159
$color--yellow-orange: #ffbc42
$color--green: #5ac752
$color--red: #AD0000
$color--white: #fff
$color--black: #000
$color--alt-black: #565656
$color--grey: #E0DBDB
$color--dark-grey: #999999

/* ----------- Fonts -----------*/
$font--title: 'Pacifico', sans-serif
$font--body: 'Fira Sans', sans-serif
